<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h3>De kom flyvende med storken</h3>

<form action="/addPerson" method="post">
    <input type="text" name="uname">
    <input type="submit" value="Add Person">
</form>

<form action="/updatePerson" th:each="person: ${persons}" method="post">
    <input type="text" name="uname" th:value="${person.uname}">
    <input type="hidden" name="id" th:value="${person.id}">
    <input type="submit" value="Update">
</form>

</body>
</html>